html {
    box-sizing: border-box;
    background-image: url('./background-img.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

/* header */

#header {
    padding: 25px;
    border-bottom: 2px solid white;
}

#menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.menu-list-item-button {
    background: none;
    color: white;
    border: none;
    font-size: 28px;
    font-weight: 300;
    font-family: 'Noto Sans';
    transition: 250ms all;
}

.menu-list-item-button:hover,
.menu-list-item-button:focus {
    color: bisque;
}

/* header end */

/* main */


/* main end */

/* footer */

#footer {
    padding: 25px;
    border-top: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

#footer-text {
    font-size: 18px;
    font-weight: 300;
    font-family: 'Noto Sans';
}

#footer-img {
    width: 24px;
    height: 24px;
}

/* footer end */

